<!DOCTYPE html>
<html>
<head>
  <title>Form Pupuk</title>
</head>
<body>
  <h1><%= pupuk ? 'Edit' : 'Tambah' %> Data Pupuk</h1>
  <form action="<%= pupuk ? `/pupuk/edit/${id}` : '/pupuk' %>" method="POST">
    <label for="nama">Nama Pupuk:</label>
    <input type="text" id="nama" name="nama" value="<%= pupuk ? pupuk.nama : '' %>" required>
    
    <label for="jenis">Jenis Pupuk:</label>
    <input type="text" id="jenis" name="jenis" value="<%= pupuk ? pupuk.jenis : '' %>" required>

    <label for="stok">Stok Pupuk:</label>
    <input type="number" id="stok" name="stok" value="<%= pupuk ? pupuk.stok : '' %>" required>

    <button type="submit">Simpan</button>
  </form>
</body>
</html>
